# dépendances
/node_modules

# build Next.js
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# divers
.DS_Store
*.log
.env*.local
.vercel

# export statique zippé pour Infomaniak
/williamrosset-site.zip
/dist/
/williamrosset-portfolio.zip
